# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri
src-tauri/target/
src-tauri/gen/

# Arch Linux Pacchetti (makepkg)
src-tauri/arch-pkg/src/
src-tauri/arch-pkg/pkg/
src-tauri/arch-pkg/*.pkg.tar.*
src-tauri/arch-pkg/*.log
